.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Define gradient text effect */
.text-gradient {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, white, rgb(65, 194, 78)); /* Adjusted gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Create a pseudo-element to add shadow */
.text-gradient::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: #ffffff; /* Fallback color */
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f; /* Adjust the color as needed */
  border-radius: 5px; /* Adjust the radius to make it round */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the color as needed */
}

/* For Firefox */
/* This will style the scrollbar but Firefox does not support changing its width */
/* You can only change the color in Firefox */
/* You may need to use a JavaScript library like 'simplebar' for better scrollbar customization in Firefox */
/* Alternatively, you can leave this section empty if Firefox compatibility is not a concern */
.scrollbar {
  scrollbar-width: thin; /* Adjust the width as needed */
  scrollbar-color: #4f4f4f #f1f1f1; /* Adjust the colors as needed */
}
